<!doctype html>
<html dir="ltr" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/9002efc044.js" crossorigin="anonymous"></script>

    <title>Air Quality</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" style="font-size:25px; font-height: bold;" th:href="@{/}">Air Quality <i class="fas fa-air-freshener"></i> WebApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/home}"> Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/madrid}">Madrid</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/valencia}">Valencia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/vigo}">Vigo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/valladolid}">Valladolid</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary bg-success  my-5 py-4 text-center" style="background-color: #fa50a4;">
        <div class="card-body">
            <p class="text-white m-0" style="font-size: 40px;">HOME</p>
        </div>
    </div>

    <!-- Content Row -->
    <div align="center" style="background-image: url('http://hd.wallpaperswide.com/thumbs/my_favorite_weather-t2.jpg'); height:100vh">
        <h1>
            <font face="Copperplate" size="22">
                <hr>
                <img src="http://hd.wallpaperswide.com/thumbs/my_favorite_weather-t2.jpg">
            </font>
        </h1>
    </div>


    <div class="text-center">
        <p>Air Quality Home Page - Copyright &copy; AQ</p>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>